/* For Large Screen */
@media screen and (min-width: 1008px) {
  .heading {
    text-align: center;
    margin-top: 80px;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    color: white;
  }

  .heading:hover {
    text-decoration: underline;
    color: wheat;
  }

  .container {
    width: 90%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    font-family: "Roboto", sans-serif;
  }

  .image_container {
    border: 1px solid green;
    text-align: center;
    background-color: rgb(246, 224, 224);
    border-radius: 10px;
  }
  .images {
    width: 100%;
    border-bottom: 1px solid palevioletred;
    border-radius: 10px 10px 0px 0px;
  }

  .names {
    width: 95%;
    margin: auto;
    color: black;
    padding: 10px 0px;
    font-size: 13px;
  }
}

/* For Medium Screen */
@media screen and ((min-width: 641px) and (max-width: 1007px)) {
  .heading {
    text-align: center;
    margin-top: 80px;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    color: white;
  }

  .heading:hover {
    text-decoration: underline;
    color: wheat;
  }

  .container {
    width: 90%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    font-family: "Roboto", sans-serif;
  }

  .image_container {
    border: 1px solid green;
    text-align: center;
    background-color: rgb(246, 224, 224);
    border-radius: 10px;
  }
  .images {
    width: 100%;
    border-bottom: 1px solid palevioletred;
    border-radius: 10px 10px 0px 0px;
  }

  .names {
    width: 95%;
    margin: auto;
    color: black;
    padding: 10px 0px;
    font-size: 13px;
  }
}

/* For Small Screen */
@media screen and (max-width: 641px) {
  .heading {
    text-align: center;
    margin-top: 80px;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    color: white;
  }

  .heading:hover {
    text-decoration: underline;
    color: wheat;
  }

  .container {
    width: 90%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    font-family: "Roboto", sans-serif;
  }

  .image_container {
    border: 1px solid green;
    text-align: center;
    background-color: rgb(246, 224, 224);
    border-radius: 10px;
  }
  .images {
    width: 100%;
    border-bottom: 1px solid palevioletred;
    border-radius: 10px 10px 0px 0px;
  }

  .names {
    width: 95%;
    margin: auto;
    color: black;
    padding: 10px 0px;
    font-size: 13px;
  }
}
